[Unit] 
Description=Python program 'modem_USB730L.py' that polls the USB730L modem for  
 
[Service] 
Type=simple 
WorkingDirectory=/home/ubuntu/miscellaneous/network_metrics/modem_USB730L/ 
ExecStart=/usr/bin/python3 -u /home/ubuntu/miscellaneous/network_metrics/modem_USB730L/modem_USB730L.py 
Restart=always 
TimeoutSec=120 
RestartSec=5 
 
[Install] 
WantedBy=multi-user.target