[Unit]
Description=Python 'ping.py' program that logs user-to-user latency

[Service]
Type=simple
ExecStart=/home/ubuntu/miscellaneous/network_metrics/ping/ping.py
