[Unit]
Description=Python 'ping.py' program that logs user-to-user latency

[Service]
Type=simple
WorkingDirectory=/home/ubuntu/miscellaneous/network_metrics/ping
ExecStart=/usr/bin/python3 -u /home/ubuntu/miscellaneous/network_metrics/ping/ping.py
